/* scrollbar  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}





.App-logo {
    width: 20%;
    margin: 30px;
}

.App-content {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 100%;
    /* Asegura que el contenedor ocupe toda la altura de la pantalla */
}

.App-header {
    text-align: center;
    /* Centra el texto dentro del header */
    font-size: 2rem;
    /* Tamaño de fuente opcional */
    color: #333;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 20px;
    background-color: #25D367;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.651);
    z-index: 100;
    animation-name: floaty;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.my-float {
    margin-top: 10px;
}

@keyframes floaty {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}